body {

  min-width: 1000px !important;
  width: auto !important;
  width: 1000px;
  border-style: solid;
  border-width: 15px;
  border-color: #d2cab6;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.class1 {
  font-size: 12pt;
  font-family: "Adelle", "Helvetica"
}