@import "../styles/reset";
@import "../styles/variables";
@import "../styles/common";

body {
  min-width: 300px;
  min-height: 100px;
  max-width: 450px;
}

.extension-name {
  padding: 0;
  width: 9em;
  text-align: center;
}
