// This file is not really injected - declared in manifest
@import "../styles/variables";


.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

svg {
  height: 200px; // the contents will scale to fit because of viewBox
  path {
    fill: $red;
  }
}